main {
	width: 100%;
	max-width: 1000px;
	margin: 1em;
	padding: 1rem;
}


img{

	margin: 20px 0px 0px 460px;
}


.menuitem {
	
	max-width: 1280px;
	margin: 10px 0px 0px 40px ;
	padding: 0rem;
	float: left;
	
}

.menuitem2 {
	
	max-width: 1280px;
	margin: 10px 0px 0px 100px ;
	padding: 0rem;
	float: left;
}

.Titulo{
	margin: -10px 0px 0px 520px;
}

.Titulo2{
	margin: 30px 0px 0px 565px;
}

.Frase{
	margin: 20px 0px 0px 300px;
}

.group2{
	margin: 20px 0px 0px 330px;
}
