div {
	/*border: 1px double red;*/
	/*padding: 50px ;*/
	width: 1280px;
	margin: auto;

}

img{

	margin: 20px 0px 0px 450px;
}


.menuitem {
	
	padding: 5px;
	width: 200px;
	float: left;
	margin: 15px 0px 0px 20px;

}

.Titulo{
	margin: 20px 0px 0px 500px;
}

.Frase{
	margin: 20px 0px 0px 300px;
}


