div {	
	width: 1264px;
	margin: auto;
}


footer{
	position: relative;
	height: 60px;
}

.Voltar{
	margin: 20px 0px 0px 0px;
}

.Titulo{
	margin: 10px 0px 10px 0px;
}

.Descrição{
	margin: 10px 300px 0px 0px;
}

.Projetos{
	margin: 10px 0px 0px 0px;	
}


img{

	margin: 20px 0px 0px 0px;
}


.menuitem {
	
	padding: 5px;
	width: 200px;
	float: left;
	margin: 15px 0px 0px 0px;

}

