div {	
	width: 1280px;
	margin: auto;
}




img{
	float: left;
}


.Titulo{
	margin: 10px 0px 10px 0px;
}

.Curso{
	margin: 40px 0px 0px 0px;
}


.Semestre{
	margin: 40px 0px 0px 0px;
}

.Descrição{
	margin: 30px 300px 0px 0px;
}

.Voltar{
	margin: 20px 0px 0px 0px;
}

.Data{
	margin: 40px 0px 0px 0px;
}
