div {	
	width: 1280px;
	margin: auto;
}

body {
    line-height: 1;
    background-color: #8392ad;
}


img{
	float: left;
}


.Titulo{
	margin: 10px 0px 10px 0px;
}

.Curso{
	margin: 40px 0px 0px 0px;
}


.Semestre{
	margin: 40px 0px 0px 0px;
}

.Descrição{
	margin: 30px 300px 0px 0px;
}

.Voltar{
	margin: 20px 0px 0px 0px;
}

.Data{
	margin: 40px 0px 0px 0px;
}

img{

	margin: 20px 0px 0px 0px;
}

.menuitem {
	
	padding: 5px;
	width: 200px;
	float: left;
	margin: 0px 0px 0px 0px;
	border: 1px transparent #000000;
	padding: 5px;
	color: #999999;
	background-color: #0013FF;
	list-style: none;
}

.menu-item {
	float: left;
	width: 200px;
	margin: 0px 0px 0px 0px;
	border: 0px transparent #000000;
	background-color: #000080;
	padding: 5px;
	color: #123999;
	background-color: #000080;
	list-style: none;
	padding: 0.5rem;
	position: relative;
	transition: color .5s, background-color .5s;
	padding: 0.5rem;
	position: relative;
	transition: color .5s, background-color .5s;
}
.menu-item:hover {
	color: #FFFFFF;
	background-color: #000000;
	cursor: pointer;
}

.submenu {
	visibility: hidden;
	position: absolute;
	left: 0%;
	top: 100%;

}

.menu-item:hover .submenu {
	visibility: visible;
}
